# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [5]:
resultado = (5 ** 3) * 2 / 2 + 0.5 - 25.25
print(resultado)

100.25

Desglose paso a paso:

- 5 ** 3 → 125 (exponente)
- 125 * 2 → 250 (multiplicación)
- 250 / 2 → 125 (división)
- 125 + 0.5 → 125.5 (suma)
- 125.5 - 25.25 → 100.25 (resta)

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [10]:
# Usando el operador de exponente (**)

raiz1 = 100 ** 0.5
print(raiz1)

10.0

In [9]:
# Usando la función de sqrt() del módulo math

import math

raiz2 = math.sqrt(100)
print(raiz2)

10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [8]:
resultado3 = (100 ** 2)
print(resultado3)

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [12]:
s = 'hello'

In [14]:
# Devolvemos la letra e 
print(s[1])

e

In [16]:
# Damos la vuelta a la string usando:
invertida = s[::-1]
print(invertida)

olleh

In [17]:
# Usamos el método del indice positivo
print(s[-1])

o

In [18]:
# Usamos el método del indice en la invertida
print(invertida[0])

o

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [19]:
# Usando la multiplicacion de listas:

lista1 = [0] * 3
print(lista1)

[0, 0, 0]

In [20]:
# Escribiendomela los elementos explicitamente

lista2 = [0,0,0]
print(lista2)

[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [5]:
lista = [1,2,[3,4,'hello']]

In [6]:
# Reasginamos el elemento correcto usando indices

lista[2][2] = 'goodbye'
print(lista)

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [26]:
listaSinOrdenar = [5,3,4,6,1]

In [27]:
listaSinOrdenar.sort()
print(listaSinOrdenar)  # [1, 3, 4, 5, 6]

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [28]:
f = {'k1':{'k2':'hello'}}

In [29]:
print(f['k1']['k2'])

hello

In [31]:
d = {'key1':'hello'}

In [32]:
print(d['key1'])

hello

In [33]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [34]:
print(g['k1'][0]['o1'][1][0])

hello

In [35]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [36]:
print(h['k1'][2]['k2'][1]['dificil'][2][0])

hello

#### 9.- Crea una tupla (1 pto)

In [37]:
mi_tupla = (1, 2, 3, "hola", True)
print(mi_tupla)

(1, 2, 3, 'hola', True)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [38]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [40]:
valores_unicos = set(listaDuplicada)
print(valores_unicos)

{1, 2, 33, 4, 3, 11, 22}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [45]:
# 2 mayor que 3
2 > 3

False

In [46]:
# 3 igual que 2
3 == 2

False

In [47]:
# raíz cuadrada de 4 no es igual a 
import math
math.sqrt(4) != 2

False

In [48]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]

In [50]:
len(nombre) > len(colores) or len(nombre) < 7
6 > 5
6 < 7

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [52]:
with open("tabla-nombres.txt", "w", encoding="utf-8") as f:
    f.write("Nombre\tApellidos\tEdad\tMascotas\n")
    f.write("Ana\tPérez Gómez\t28\tLuna\n")
    f.write("José\tMartínez Ruiz\t34\t\n")
    f.write("Lucía\tSánchez López\t25\tMilo\n")
    f.write("Óscar\tFernández Díaz\t40\tKira\n")

In [53]:
with open("tabla-nombres.txt") as f:
    print(f.read())

Nombre	Apellidos	Edad	Mascotas
Ana	Pérez Gómez	28	Luna
José	Martínez Ruiz	34
Lucía	Sánchez López	25	Milo
Óscar	Fernández Díaz	40	Kira

In [54]:
# Es posible que los acentos aparezcan mal si el sistema no usa la misma codificacion por defecto, lo solucionamos con:
with open("tabla-nombres.txt", "r", encoding="utf-8") as f:
    contenido = f.read()
    print(contenido)

Nombre	Apellidos	Edad	Mascotas
Ana	Pérez Gómez	28	Luna
José	Martínez Ruiz	34
Lucía	Sánchez López	25	Milo
Óscar	Fernández Díaz	40	Kira

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [8]:
# Creamos el diccionario con las parejas indicadas:

dicc = {
    "Rattus": ["novergicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": 1
}

In [9]:
# Obtenemos el listado de keys() y lo guardamos en una lista
lista_claves = list(dicc.keys())
print(lista_claves)

['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']

In [10]:
# Añadimos dos pares mas al diccionario
dicc["Canis"] = ["lupus", "familiaris"]
dicc["felis"] = ["catus",]

In [11]:
# Convertimos la lista original de claves en un set
conjunto_claves = set(lista_claves)
print(conjunto_claves)

{'Glaucidium', 'Opuntia', 'Echinocactus', 'Rattus'}